@page
@using Microsoft.Extensions.Localization
@using SubFlow.Web.Localization
@inject IStringLocalizer<SharedResource> L
@model IndexModel
@{
    ViewData["Title"] = L["Home"];
}

<div class="text-center">
    <h1 class="display-4">@L["Welcome"]</h1>
    <p>
        @L["LearnAbout"]
        <a href="https://learn.microsoft.com/aspnet/core">@L["AspNetCoreDocs"]</a>.
    </p>
</div>
